{% extends 'app/base.html' %}
{% block titulo %} Administrar Productos {% endblock %}
{% load static %}
{% block css %} <link rel="stylesheet" href="{% static 'app/css/productos.css' %}"> {% endblock %}
{% block js %}<script src="{% static 'app/js/productos.js' %}"></script>{% endblock %}
{% block contenido %}
<div>   
    <br>
    <h1 style="text-align: center; color:#0D6EFD; "> Administración de Productos </h1>  
</div>
<!-- AGREGAR -->
<div class="col-md-12 text-center">
    <button type="button" class="btn btn-primary" style=" margin-top: 2%; margin-bottom: 2%;" id="esconder"> Agregar Producto </button>
</div>
<div class="container" id="third" style="display: none;">   
    <div class="row justify-content-center">
        <div class="col-10 col-sm-10 col-md-7 col-lg-7 col-xl-5">
            <form action="" method="POST" enctype="multipart/form-data" class="needs-validation" id="p_form" novalidate>
                {% csrf_token %}
                <div class="mb-3 row">
                        <label for="staticEmail" class="col-sm-2 col-form-label">Nombre:</label>
                    <div class="col-sm-10">
                        <input class="form-control" type="text" placeholder="Nombre del producto" name="p_nombre" id="p_nombre" minlength="4" maxlength="100" required>
                    </div>
                </div>
                <div class="mb-3 row">
                        <label for="staticEmail" class="col-sm-2 col-form-label">Precio:</label>
                    <div class="col-sm-10">
                        <input class="form-control" type="number" placeholder="Precio del producto" min="0" oninput="validity.valid||(value='');" name="p_precio" id="p_precio" required>
                    </div>
                </div>
                <div class="mb-3 row">
                        <label for="staticEmail" class="col-sm-2 col-form-label">Imagen:</label>
                    <div class="col-sm-10">
                        <input class="form-control" type="file" placeholder="URL de la imagen" name="p_imagen" id="p_imagen">
                    </div>
                </div>
                <div class="mb-3 row">
                        <label for="staticEmail" class="col-sm-2 col-form-label">Stock:</label>
                    <div class="col-sm-10">
                        <input class="form-control" type="number" placeholder="Stock del producto" min="0" oninput="validity.valid||(value='');" name="p_stock" id="p_stock" required>
                    </div>
                </div>
                <select class="form-select" aria-label="Default select example" name="p_tp" id="p_tp" required>
                    <option selected disabled value="">Seleccionar tipo de producto</option>
                    {% for i in categorias %}
                    <option value="{{i.0}}">{{i.1}}</option>
                    {% endfor %}
                </select>
                <br>
                <div class="col-12 text-center">
                    <button class="btn btn-success" type="submit">Guardar</button>
                    <button class="btn btn-secondary" type="reset">Limpiar</button>
                </div>
            </form>
        </div>
    </div>
    <br>
</div>

<!-- LISTAR -->
<div class="container-fluid cardprod">
    <div class="row">
        <!-- CARD DE PRODUCTOS -->
        <div class="gallery">
            {% for p in productos %}
            <div class="content">
                {% if p.5 %}
                <img src="{{p.5}}" onerror="this.src='https://live.staticflickr.com/65535/52085597584_018d97d235_m.jpg'">
                {% else %}
                <img src="{% static 'app/img/noimagen.jpg' %}">
                {% endif %}
                <h10>Stock: {{p.3}} uds.</h10>
                <h3>{{p.1}}</h3>
                <h4>${{p.2}}</h4>
                <br>
                <div>
                    <a href="{% url 'modificar_producto' p.0 %}" class="btn btn-warning">Modificar</a>
                    <a onclick="confirmarEliminar({{p.0}})" class="btn btn-danger">Eliminar</a>
                </div>
                <br>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}