{% extends 'app/base.html' %}
{% block titulo %} Administrador de Servicios {% endblock %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'app/css/productos.css' %}">
{% endblock %}
{% block js %}<script src="{% static 'app/js/servicios.js' %}"></script>{% endblock %}
{% block contenido %}
<div>   
    <br>
    <h1 style="text-align: center; color:#0D6EFD; "> Administración de Servicios </h1>  
</div>
<br>
<br>


<!-- LISTAR -->
<div class="row justify-content-center"> 
    <div class="col-10 col-sm-10 col-md-7 col-lg-10 col-xl-10 table-responsive">
        <table class="table table-striped table-hover table-bordered">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">ID Servicio</th>
                <th scope="col">Nombre</th>
                <th scope="col">Correo</th>
                <th scope="col">Comentario</th>
                <th scope="col">Fecha</th>
                <th scope="col">Imagen</th>
                <th scope="col">Tipo Servicio</th>
                <th scope="col">Opciones</th>
            </tr>
            </thead>
            <tbody>
            {% for s in servicio %}
            <tr>
                <th scope="row">{{s.8}}</th>
                <td>{{s.0}}</td>
                <td>{{s.1}}</td>
                <td>{{s.2}}</td>
                <td><p style="height: 20px; width: 350px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;">{{s.3}}</p></td>
                <td>{{s.4}}</td>
                {% if s.5 == None %}
                <td>-</td>
                {% else %}
                <td><a href="{{s.5}}"></a></td>
                {% endif%}
                <td>{{s.7}}</td>
                <td>
                    <a href="" class="btn btn-warning">Modificar</a>
                    <a onclick="confirmarEliminar({{s.0}})" class="btn btn-danger" style="margin-top: 4px;">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
            
        </table>
    </div>
</div>

{% endblock %}
