{% extends 'app/base.html' %}
{% block titulo %} Administrar Productos {% endblock %}
{% load static %}
{% block css %} <link rel="stylesheet" href="{% static 'app/css/productos.css' %}"> {% endblock %}
{% block js %}<script src="{% static 'app/js/productos.js' %}"></script>{% endblock %}
{% block contenido %}
<div>   
    <br>
    <h1 style="text-align: center; color:#0D6EFD; "> Administración de Productos </h1>  
</div>
<!-- AGREGAR -->
<div class="col-md-12 text-center">
    <button type="button" class="btn btn-primary" style=" margin-top: 2%; margin-bottom: 2%;" id="esconder"> Agregar Producto </button>
</div>
<div class="container" id="third" style="display: none;">   
    <div class="row justify-content-center">
        <div class="col-12 col-sm-10 col-md-7 col-lg-7 col-xl-5">
            <form action="" method="POST">
                {% csrf_token %}
                <div class="mb-3 row">
                        <label for="staticEmail" class="col-sm-2 col-form-label">Nombre:</label>
                    <div class="col-sm-10">
                        <input class="form-control" type="text" placeholder="Nombre del producto" aria-label="default input example" name="p_nombre">
                    </div>
                </div>
                <div class="mb-3 row">
                        <label for="staticEmail" class="col-sm-2 col-form-label">Precio:</label>
                    <div class="col-sm-10">
                        <input class="form-control" type="number" placeholder="Precio del producto" aria-label="default input example" name="p_precio">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="staticEmail" class="col-sm-2 col-form-label">Imagen:</label>
                    <div class="col-sm-10">
                        <input class="form-control" type="file" aria-label="default input example" name="p_imagen">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="staticEmail" class="col-sm-2 col-form-label">Stock:</label>
                    <div class="col-sm-10">
                        <input class="form-control" type="number" placeholder="Stock del producto" aria-label="default input example" name="p_stock">
                    </div>
                </div>
                <select class="form-select" aria-label="Default select example" name="p_tp">
                    <option selected disabled>Seleccionar tipo de producto</option>
                    {% for i in categorias %}
                    <option value="{{i.0}}">{{i.1}}</option>
                    {% endfor %}
                </select>
                <br>
                <div class="col-12 text-center">
                    <button class="btn btn-primary" type="submit">Guardar Producto</button>
                </div>
            </form>
            {{mensaje}}
        </div>
    </div>
    <br>
</div>

<!-- LISTAR -->
<div class="container-fluid cardprod">
    <div class="row">
        <!-- CARD DE PRODUCTOS -->
        <div class="gallery">
            {% for p in productos %}
            <div class="content">
                {% if p.3 %}
                <img src="{{p.3}}"> 
                {% else %}
                <img src="{% static 'app/img/noimagen.jpg' %}">
                {% endif %}
                <h10>Stock: {{p.4}} uds.</h10>
                <h3>{{p.1}}</h3>
                <h4>${{p.2}}</h4>
                {% if p.4 == 0 %}
                <button style="background-color: black;" class="buy-1" disabled>AGOTADO</button> 
                {% elif p.4 == 1 %}
                <button style="background-color: rgb(179, 16, 16);" class="buy-1">ÚLTIMA UNIDAD</button>
                {% else %}
                <button class="buy-1">Agregar al carro</button> 
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- MODIFICAR -->


{% endblock %}