{% extends 'app/base.html' %}
{% block titulo %} Administrar Clientes {% endblock %}
{% load static %}
{% block js %}<script src="{% static 'app/js/clientes.js' %}"></script>{% endblock %}
{% block contenido %}
<div>   
    <br>
    <h1 style="text-align: center; color:#0D6EFD; "> Administración de Clientes </h1>  
</div>

<!-- AGREGAR -->
<div class="col-md-12 text-center">
    <button type="button" class="btn btn-primary" style=" margin-top: 2%; margin-bottom: 2%;" id="esconder"> Agregar Cliente </button>
</div>
<div class="container" id="third" style="display: none;">  
    <div class="row justify-content-center"> 
        <div class="col-12 col-sm-10 col-md-7 col-lg-7 col-xl-5">
            <form action="" method="POST" class="needs-validation" id="c_form" novalidate>
                {% csrf_token %}
                <div class="row g-3">
                    <div class="col-md-8">
                        <label for="staticEmail" class="col-sm-2 col-form-label">RUT:</label>
                        <input class="form-control" type="number" placeholder="RUT del cliente" name="c_rut" id="c_rut" min="10000000" max="99999999"  required>
                    </div>
                    <div class="col-md-4">
                        <label for="staticEmail" class="col-sm-2 col-form-label">DV:</label>
                        <input class="form-control" style="text-transform:uppercase" type="text" placeholder="DV" name="c_dv" id="c_dv" maxlength="1" required>
                    </div>
                </div>
                <div class="row g-3">
                    <div class="col-md-6">
                        <label for="staticEmail" class="col-form-label">Primer nombre:</label>
                        <input class="form-control" type="text" placeholder="Primer nombre del cliente" name="c_pn" id="c_pn" minlength="5" maxlength="50" required>
                    </div>
                    <div class="col-md-6">
                        <label for="staticEmail" class="col-form-label">Segundo nombre:</label>
                        <input class="form-control" type="text" placeholder="Segundo nombre del cliente" name="c_sn" id="c_sn" minlength="5" maxlength="50">
                    </div>           
                </div>
                <div class="row g-3">
                    <div class="col-md-6">
                            <label for="staticEmail" class="col-form-label">Primer apellido:</label>
                            <input class="form-control" type="text" placeholder="Primer apellido del cliente" name="c_pa" id="c_pa" minlength="5" maxlength="50" required>
                    </div>
                    <div class="col-md-6">
                            <label for="staticEmail" class="col-form-label">Segundo apellido:</label>
                            <input class="form-control" type="text" placeholder="Segundo apellido del cliente" name="c_sa" id="c_sa" minlength="5" maxlength="50" required>
                    </div>
                </div>
                <br>
                <div class="mb-3 row">
                        <label for="staticEmail" class="col-sm-2 col-form-label">Correo:</label>
                    <div class="col-sm-10">
                        <input class="form-control" type="email" placeholder="nombre@ejemplo.com" name="c_c" id="c_c" maxlength="150" required>
                    </div>
                </div>
                <div class="mb-3 row">
                        <label for="staticEmail" class="col-sm-2 col-form-label">Contraseña:</label>
                    <div class="col-sm-10">
                        <input class="form-control" type="password" placeholder="Contraseña de mínimo 6 caracteres" name="c_p" id="c_p" minlength="6" maxlength="20" required>
                    </div>
                </div>
                <div class="mb-3 row">
                        <label for="staticEmail" class="col-sm-2 col-form-label">Dirección:</label>
                    <div class="col-sm-10">
                        <input class="form-control" type="text" placeholder="Dirección del cliente" name="c_d" id="c_d" minlength="10" maxlength="200" required>
                    </div>
                </div>
                <div class="mb-3 row">
                        <label for="staticEmail" class="col-sm-2 col-form-label">Teléfono:</label>
                    <div class="col-sm-10">
                        <input class="form-control" type="number" placeholder="Ej: 912345678" name="c_te" id="c_te" min="900000000" maxlength="999999999" required>
                    </div>
                </div>
                <div class="col-12 text-center">
                    <button class="btn btn-success" type="submit" >Guardar</button>
                    <button class="btn btn-secondary" type="reset">Limpiar</button>
                </div>
            </form>
        </div>
    </div>
    <br>
</div>
<!-- LISTAR -->
<div class="row justify-content-center"> 
    <div class="col-12 col-sm-10 col-md-7 col-lg-10 col-xl-10 table-responsive">
        <table class="table table-striped table-hover table-bordered">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">RUT</th>
                <th scope="col">Nombre</th>
                <th scope="col">Correo</th>
                <th scope="col">Dirección</th>
                <th scope="col">Teléfono</th>
                <th scope="col">Opciones</th>
            </tr>
            </thead>

            <tbody>
            {% for c in clientes %}
            <tr>
                <th scope="row">{{c.18}}</th>
                <td>{{c.0}} - {{c.1}}</td>
                {% if c.3 == None %}
                <td>{{c.2}} {{c.4}} {{c.5}}</td>
                {% else %}
                <td>{{c.2}} {{c.3}} {{c.4}} {{c.5}}</td>
                {% endif %}
                <td>{{c.6}}</td>
                <td>{{c.8}}</td>
                <td>{{c.9}}</td>
                <td>
                    <a href="{% url 'modificar_cliente' c.0 %}"" class="btn btn-warning">Modificar</a>
                    <a onclick="confirmarEliminar({{c.0}})" class="btn btn-danger" style="margin-top: 4px;">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
            
        </table>
    </div>
</div>
{% endblock %}