{% extends 'app/base.html' %}
{% block titulo %} Carro de compras {% endblock %}
{% load static %}
{% block css %}
{% endblock %}
{% block contenido %}
<table class="table table-bordered" style="color: black; border: #0D6EFD;">
    <thead>
        <tr>
            <th colspan="4" class="text-center">
                Carro
            </th>
        </tr>
        <tr>
            <th>Imagen</th>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Suma</th>
        </tr>
    </thead>
    <tbody>
        {% if request.session.carro.items %}
            {% for key, value in request.session.carro.items %}
                <tr class="text-center">
                    {% if value.imagen %}
                    <td><a href="{% url 'resenas' value.id_producto %}"><img src="{{value.imagen}}" onerror="this.src='https:/live.staticflickr.com/65535/52085597584_018d97d235_m.jpg'"></a></td>
                    {% else %}
                    <td></td><a href="{% url 'resenas' value.id_producto %}"><img src="{% static 'app/img/noimagen.jpg' %}"></a></tr>
                    {% endif %}
                    <td>{{value.nombre}} {{value.imagen}}</td>
                    <td>{{value.cantidad}}</td>
                    <td>
                        <a href="{% url 'carro:agregar' value.id_producto %}" class="btn btn-sm" style="background-color: #0D6EFD; color: white;">+</a>
                        <a href="{% url 'carro:restar' value.id_producto %}" class="btn btn-sm" style="background-color: #0D6EFD; color: white;">-</a><br>
                        $ {{value.precio}}
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="4">
                    <div class="alert alert-danger text-center">
                        Sin productos
                    </div>
                </td>
            </tr>
        {% endif %}
    </tbody>

    <tfoot>
        <tr>
            <td colspan="4">
                <b>Total: $ {{ importe_total_carro }}</b><a href="{% url 'carro:limpiar' %}" class="btn btn-sm btn-danger" style=" color: white; float: right;">Limpiar carro</a><br><br> 
                {% if request.session.carro.items %}
                    {% if user.is_authenticated %}
                    <div class="col text-center">
                        <a href=""><button type="button" class="btn btn-primary" style="margin-top: 5px;"> Finalizar Compra </button></a>
                    </div>
                    {% else %}
                    <div class="alert alert-danger text-center" style="margin-top: 5px;">
                        Necesita iniciar sesión para finalizar la compra
                    </div>
                    {% endif %}
                {% endif %}
            </td>
        </tr>
    </tfoot>
</table>
{% endblock %}