
.titulo1{
text-align: center;
color: navy;
}

#contenido{
    display: flex;
    flex-wrap: wrap;
    margin: 2%;

}

#tabla{
    margin-inline-start: auto;
}

#tabla #datos{
    margin: 5px;
    background-color: aliceblue;
}

#vacio{
    text-align: center;
    font-weight: bold;
    margin: 30%;
    padding: 30%;
}

#btn-vacio{
    font-size: 20px;
    margin-bottom: 1%;
    padding: 5%;
}