h5 {
    position:absolute;
    top: 100%;
    left: 50%;
    color: rgb(0, 0, 0);
    font-size: 100%;
    transform: translateX(-50%) translateY(-50%);
}

p{
    color: black;
}

.card2{
    position: left;
}